.container{
    width: 100%;
    padding: 20px 16%;
    box-sizing: border-box;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.tt{
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tt2{
    border-radius: 20px;
}

.selection{
    width: fit-content;
    margin-top: 20px;
    padding: 5px 5px;
    border-radius: 20px; 
}

.search{
    padding: 10px 16px;
    border-radius: 15px;
    border: none;
    background-color: var(--bc3);
    color: var(--tc1);
    height: 30px;
    font-size: 20px;
}

.left{
    width: 20%;
    margin-right: 10px;
}

.right{
    width: 78%;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 10px;
}