.pjsmall{
    width: 98.5%;
    height: 100px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.pjsmall:hover .pjsmalltags{
  background-color: rgb(0, 0, 0, 0.5);
}

.pjsmalldesc{
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word; /* fallback */
  min-height: 35px;
  width: 75%;
}