* {
  margin: 0;
  padding: 0;
}

#root, html, body {
  font-family: sans-serif;
  background-color: #16181c;
}

.bc2 {
  background-color: #27292e;
}

:root {
  --bc3: #34363c;
  --tc1: white;
  --tc2: #8e9aa7;
}

.bc3 {
  background-color: var(--bc3);
}

.bc3h:hover {
  background-color: var(--bc3);
}

.tc1 {
  color: var(--tc1);
}

.tc2 {
  color: var(--tc2);
}